<div id="pagebottom" class="row">
  <div id="up-to-top" class="large-2 columns" style="text-align: right;">
    <a class="iconfont" href="#top-of-page">&#xf108;</a>
  </div>
</div>
<footer id="footer-content" class="bg-grau">
  <div id="footer">
    <div class="row">
      <div id="dhlogobox" class="large-12 columns">
        <img src="{{ '/assets/img/neh-dlcl.png' |relative_url }}" id="dhlg-logo" style="max-height:200px; max-width:400px">
        <img src="{{ '/assets/img/cesta-stanford.png' |relative_url }}" id="dhlg-logo" style="max-height:200px; max-width:400px">
        <h5>Permissions and License</h5>
        <p>{{ site.permissions }}</p>
        <p>{{ site.license}}</p>
      </div>
    </div>
  </div>
</footer>
<footer id="footer">
  <div class="container">
    <p>&copy; Medieval Source Book</p>
  </div>
</footer>
