{% capture description %}{% if page.meta_description %}{{ page.meta_description }}{% elsif page.teaser %}{{ page.teaser }}{% elsif page.excerpt %}{{ page.excerpt }}{% elsif site.description %}{{ site.description }}{% endif %}{% endcapture %}
{% assign description = description | strip_html | escape | strip %}

{% capture title %}{% if page.meta_title %}{{ page.meta_title}}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title | strip_html | strip }}{% endif %}{% endcapture %}
{% assign title = title | strip_html | escape | strip_newlines %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/styles_feeling_responsive.css' | relative_url }}">
<script src="{{ '/assets/js/modernizr.min.js' | relative_url}} "></script>
<meta name="description" content="{{ description }}">
{% include "_favicon.html" %}
{% comment %} Head include cleaned: single charset/viewport/title block above {% endcomment %}
