{% comment %} Ported masthead (trimmed) {% endcomment %}
{% if page.header == NULL and page.header.image_fullwidth == NULL and page.header.pattern == NULL and page.header.background-color == NULL and page.header.title == NULL %}
  <div id="masthead-no-image-header">
    <div class="row">
      <div class="small-8 small-offset-2 columns">
        <a id="logo" href="/" title="{{ site.title }} – {{ site.slogan }}">
          <img src="/assets/img/logo.png" alt="{{ site.title }} – {{ site.slogan }}">
        </a>
      </div>
    </div>
  </div>
  {% if page.breadcrumb == true %}{% include "_breadcrumb.html" %}{% endif %}
{% elsif page.header.title %}
  <div id="masthead-with-text" style="{% if page.header["background-color"] %}background: {{ page.header["background-color"] }};{% endif %}">
    <div class="row">
      <div class="small-8 small-offset-2 columns">
        <div class="masthead-title">{{ page.header.title }}</div>
      </div>
    </div>
  </div>
  {% if page.breadcrumb == true %}{% include "_breadcrumb.html" %}{% endif %}
{% else %}
  <div id="masthead">
    <div class="row">
      <div class="small-8 small-offset-2 columns">
        <a id="logo" href="/" title="{{ site.title }} – {{ site.slogan }}">
          <img src="/assets/img/logo.png" alt="{{ site.title }} – {{ site.slogan }}">
        </a>
      </div>
    </div>
  </div>
  {% if page.breadcrumb == true %}{% include "_breadcrumb.html" %}{% endif %}
{% endif %}
