<div id="page-meta" class="row t30 b60">
  <div class="small-12 columns" id="contributor">
    <p class="sourceinfo">{% if page.source == 'community' %}<img src="{{ 'assets/img/circle-cobalt.svg' | relative_url }}">{% else %}<img src="{{ 'assets/img/circle-brilliant-amber.svg' | relative_url }}">{% endif %}
    {% if page.creationdate %}
    <time class="pr20" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"> {{ page.creationdate | date: "%B %-d, %Y" }}.</time>
    {% endif %}
    </p>
    <h3>Posted by</h3>
    {% for author in page.authors %}
      <h4>
        <span class="authorname" itemprop="author" itemscope itemtype="http://schema.org/Person">{% unless author.uri==NULL%}<a href="{{ author.uri }}" target="_blank">{% endunless %}{{ author.name }}{% unless author.uri!='' %}</a>{% endunless %} {% unless author.affiliation==NULL%}({{ author.affiliation }}){% endunless %}</span>
      </h4>
      {% if author.bio != empty %}
        <p class="authorbio">{{ author.bio | markdownify }}</p>
      {% endif %}
    {% endfor %}
  </div>
</div>
