<div id="navigation" class="{{ page.navigation_type | default: '' }}">
  <nav class="top-bar" role="navigation" data-topbar>
    <ul class="title-area">
      <li class="name"><a href="{{ '/' | relative_url }}" title="home"><img src="{{ '/assets/img/gms_topright.png' | relative_url }}" class="dhlg-menu-logo"></a></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        {% for link in navigation %}
          {% if link.side == 'right' %}
            {% if link.dropdown == nil %}
              <li class="divider"></li>
              <li{% if link.url == page.url %} class="active"{% endif %}><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ link.url | relative_url }}">{{ link.title | escape }}</a></li>
            {% else %}
              <li class="divider"></li>
              <li class="has-dropdown{% if link.url == page.url %} active{% endif %}">
                {% if link.url == '#' %}<a{% else %}<a href="{{ link.url | relative_url }}"{% endif %} class="{% if link.class %}{{link.class}}{% endif %}">{{ link.title | escape }}</a>
                <ul class="dropdown">
                  {% for dropdown_link in link.dropdown %}
                    <li><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ dropdown_link.url | relative_url }}">{{ dropdown_link.title | escape }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="left">
        {% for link in navigation %}
          {% if link.side == 'left' %}
            {% if link.dropdown == nil %}
              <li class="{% if link.url == page.url %}active {% endif %}{% if link.alternate == '?' %} alternateprefix{% endif %}"><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ link.url | relative_url }}">{{ link.title | escape }}</a></li>
              <li class="divider"></li>
            {% else %}
              <li class="has-dropdown {% if link.url == page.url %} active{% endif %}">
                {% if link.url == '#' %}<a{% else %}<a href="{{ link.url | relative_url }}"{% endif %} class="{% if link.class %}{{link.class}}{% else %} a-pseudo{% endif %} {% if link.alternate == '?' %} alternateprefix{% endif %}">{{ link.title | escape }}</a>
                <ul class="dropdown">
                  {% for dropdown_link in link.dropdown %}
                    {% if dropdown_link.dropdown == nil %}
                      <li{% if dropdown_link.url == page.url %} class="active"{% endif %}><a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ dropdown_link.url | relative_url }}">{{ dropdown_link.title | escape }}</a></li>
                      <li class="divider"></li>
                    {% else %}
                      <li class="has-dropdown{% if dropdown_link.url == page.url %} active{% endif %}">
                        <a class="{% if dropdown_link.class %}{{dropdown_link.class}}{% endif %}" href="{{ dropdown_link.url | relative_url }}">{{ dropdown_link.title | escape }}</a>
                        <ul class="dropdown">
                          {% for nested_link in dropdown_link.dropdown %}
                            <li><a href="{{ nested_link.url | relative_url }}">{{ nested_link.title | escape }}</a></li>
                            <li class="divider"></li>
                          {% endfor %}
                        </ul>
                      </li>
                      <li class="divider"></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li class="divider"></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>
