<div class="panel">
  <h3 id="tocheader">Text Information</h3>
  <ul id="toc">
    {% if textauthor and textauthor != "" %}
    <li><strong>Author:</strong> {{textauthor}}</li>
    {% endif %}

    <li><strong>Period:</strong>
      {% for textperiod in periods %}
        {% for period in collections.periods %}
          {% if textperiod == period.data.tag %}<a href="{{period.url}}">{{period.data.title}}</a>{% endif %}
        {% endfor %}
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </li>

    <li><a href="{{tei}}">Download TEI</a></li>
    <li><a href="{{pdf}}">Download formatted PDF</a></li>
    <li><a href="{{sdr}}">View in Stanford Digital Repository</a></li>
  </ul>
</div>
