<aside id="sidenav">
  <div class="panel">
    <p class="morse">texts</p>
    <br />
    <ul>
      <li><strong>Author:</strong> {{page.textauthor}}</li>
      <li><strong>Language:</strong> {{page.language}}</li>
      <li><strong>Genre:</strong> {{page.genre}}</li>
      <li><strong>Keywords:</strong> {{page.keywords}}</li>
      {% if page.textcollection != '' %}<li><strong>Collection:</strong> {{page.textcollection}}</li>{% endif %}
    </ul>

<br />
<strong><a href="{{page.sdr}}">Download text from repository</a></strong>
    </ul>
  </div>
</aside>
<aside id="sidenav">
  <div class="panel">
    <p class="morse">texts</p>
    <br />
    <ul>
      <li><strong>Author:</strong> {{page.textauthor}}</li>
      <li><strong>Language:</strong> {{page.language}}</li>
      <li><strong>Genre:</strong> {{page.genre}}</li>
      <li><strong>Keywords:</strong> {{page.keywords}}</li>
      {% if page.textcollection != '' %}<li><strong>Collection:</strong> {{page.textcollection}}</li>{% endif %}
    </ul>
    <br />
    <strong><a href="{{page.sdr}}">Download text from repository</a></strong>
  </div>
</aside>
