@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

$navfont: 'Roboto', sans-serif;

// getting rid of circles

.circlebg, .circlebg.contribution {
  background: none;
}

// Title and Logo

.title-surround {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 0 30px;

  img {
    margin: 0 .3em 20px 0;
    max-height: 100px;
    max-width: 100%;
  }

  .site_title {
    font-size: 2.7em;
    font-weight: 900;
    line-height: 1em;
    margin: 27px 0 .5em 0;
    padding: 0;

    small {
      color: #000;
      display: block;
      font-size: .5em;
      font-weight: 100;
      margin-top: .5em;
    }
  }
}

// Changing nav colors

.top-bar-section>ul>.divider,
.top-bar-section>ul>[role="separator"],
.top-bar, #navigation, .top-bar-section ul li, .top-bar-section ul, .dropdown li,
.top-bar-section .dropdown li,
.dropdown .dropdown li:not(.has-form):not(.active)>a:not(.button)
{
  background: $gray;
  border-color: $gray;
  font-size:21.6px;
  text-transform: uppercase;
}

.top-bar-section ul li {

  &.active:not(.has-form) > a:not(.button) {
    background-color: $black;
    color: $white;
    text-decoration:none;
    font-size:21.6px;
    text-transform: uppercase;
  }

  &:hover:not(.has-form):not(.logo):not(.divider) > a {
    background-color: $blue;
    color: $white;
    text-decoration:none;
    font-size:21.6px;
    text-transform: uppercase;
  }

  a {
    color: $white;
    font-family: $navfont;
    text-decoration:none;
    font-size:21.6px;
    text-transform: uppercase;

    &:hover {
      color: $white;
      text-decoration:none;
      font-size:21.6px;
      text-transform: uppercase;
    }
  }

  .dropdown li:not(.has-form):not(.active)>a:not(.button) {
    color: $white;
    text-decoration:none;
    font-size:21.6px;
    text-transform: uppercase;
  }

  .dropdown li:not(.has-form):not(.active):hover>a:not(.button) {
    color: $white;
    text-decoration:none;
    font-size:21.6px;
    text-transform: uppercase;
  }
}

// smaller font size for hover

.top-bar-section ul li .dropdown li:not(.has-form):not(.active)>a:not(.button),
.top-bar-section ul li .dropdown li:not(.has-form):not(.active):hover>a:not(.button),
.top-bar-section ul li.active:not(.has-form)>a:not(.button),
.top-bar-section ul.dropdown li:hover:not(.has-form):not(.logo):not(.divider)>a {
  font-size:.85em;
 }

 .top-bar-section ul li.alternateprefix a {
   font-size: 1em;
 }

 // change hover color for non links to gray not light yellow
.top-bar-section li:not(.logo):not(.divider):hover {
  background-color:#525252;
 }

// Nav Positioning for non links

.top-bar-section ul li .a-pseudo {
  color: #fff;
  font-family: "Roboto",sans-serif;
  line-height: 3.125rem;
  padding-right: .625rem;
  padding-left: .625rem;
 }

 // This was to fix the gap on "text/brief_treatise_doctrine" 
 // May have unintended consequences!

article {
  .row,
  .row .row:before,
  .row .row:after {
    display: block;
    overflow: auto;
  }
}


// Turned off transitions because they looked weird
*:target,
a,
a:link {
  transition:none;
}

#footer {
  background-color: $gray;
}

.site_title {
  margin: .5em 1.5em;
  font-family: $navfont;
}

h1 {
  font-family: $navfont;
}

#footer h5 {
  font-family: $navfont;
}

.panel {
	background: $grey-sidebar;
	float:left;
}

.projectbox h4 {
	text-transform:none;
}

.projectbox .videothumbnail {
    margin-left: 0px;
}

.dhlg-menu-logo {
	display:none;
}


#sidenav{
  float:left;}
