{% include "_head.html" %}
<body id="top-of-page" class="{{ layout.format }}">
  {% unless page.skip_navigation %}
  <div class="title-surround">
    <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/img/LogoPrint_trans.png' | relative_url }}" id="main-logo"></a>
    <h1 class="site_title">{{ site.sitetitle }}
      <small>{{ site.slogan }}</small>
    </h1>
  </div>
  {% include "_navigation.html" %}
  {% endunless %}
  
  {{ content | safe }}
  
  {% unless page.skip_footer %}
  {% include "_footer.html" %}
  {% endunless %}
  {% include "_footer_scripts.html" %}
</body>
