---
layout: default
---
<div class="row" id="main">
  <div class="large-offset-2">
    <article itemscope itemtype="http://schema.org/Article">
      <header class="row">
        <div itemprop="name" class="large-8 columns">
          <h1 id="pagetitle" class="landing">{{ title | default: page.title }}</h1>
        </div>
        <div itemprop="image" class="large-4 columns">
          <img src="{{page.image}}" />
          <p class="caption">{{page.imagesource}}</p>
        </div>
      </header>
      <div itemprop="articleSection">
        {{ content | safe }}
      </div>
      <div class="row">
        <div class="small-12 columns t30">
          <div class="row" id="listprojects">
            {% assign texts = collections.texts | sort: 'data.title' %}
            {% for text in texts %}
              {% if text.data.genres contains tag %}
                <div id="text_{{ text.data.identifier }}" class="large-4 medium-6 columns projectbox">
                  <a href="{{ text.url }}"><img src="{{ text.data.thumb }}" class="videothumbnail"></a>
                  <a href="{{ text.url }}"><h4>{{ text.data.engtitle | truncate: 75 }}</h4></a>
                  <p class="strong">{{ text.data.origtitle | truncate: 80 }}</p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
