---
layout: default
format: page
---
<div class="row" id="main">
 	{% if page.sidebar == "left" %}
 	<div class="large-4 columns">
		{% include "_text-metadata.html" %}
 	</div><!-- /.medium-4.columns -->
 	{% endif %}

 	<div class="large-offset-2">
 		<article itemscope itemtype="http://schema.org/Article">
 			<header class="row">
 				<div itemprop="name" class="large-8 columns">
 					<h1 id="pagetitle" class="landing">{{ title | default: page.title }}</h1>
 				</div>
 				<div itemprop="image" class="large-4 columns">
 					<img src="{{page.image}}" />
 					<p class="caption">{{page.imagesource}}</p>
 				</div>
 			</header>

 			<div itemprop="articleSection">
 				{{ content }}
 			</div>
 			<div class="row">
 	<div class="small-12 columns t30">
 		<div class="row" id="listprojects">

 			{% assign texts = collections.texts | sort: 'data.title' %}
 			{% for text in texts %}
 			{% if text.data.languages contains identifier %}
 				<div id="text_{{ text.data.identifier }}" class="large-4 medium-6 columns projectbox">
 					<a href="{{ text.url }}"><img src="{{ text.data.thumb }}" class="videothumbnail"></a>
 					<a href="{{ text.url }}"><h4>{{ text.data.engtitle | truncate: 75 }}</h4></a>
 					<p class="strong">{{ text.data.origtitle | truncate: 80 }}</p>
				</div>
 			{% endif %}
 			{% endfor %}
 		</div>
 	</div><!-- /.small-8 small-offset-2.columns -->
</div><!-- /.row -->

 		</article>
 	</div><!-- /.medium-8.columns -->
</div><!-- /.row -->
